* {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

.main {
    margin-top: 50px;
    text-align: center;
}

.results {
    font-size: 32px;
    margin-bottom: 20px;
}

.round {
    font-size: 20px;
    margin-bottom: 20px;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    font-size: 80px;
}

.scores {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 32px;
    gap: 100px;
}